.ornek{
    margin-bottom: 30px;
    margin-left: 100px;

    }
    .buttonsekme {

        background-color:green;
        color:white;
        width:25%;
        height: 50px;
        float: left;
        
        
      }
    .sola-kaydir{
    float:left;

    
    }
    .a{
        float:right;
    }
   
    .sağa-kaydir{
        float:right;
    }
    .HAKKIMIZDA{
     text-align: center;
    color: black;
    background-color: aqua;

    }
    .p{
        font-size: x-large;
    }
    .textbox{
        background-color:lightgreen ;
        color: rgb(0, 0, 0);
    }
    h1{
        font-size: xx-large;
    }
    .venom{
        background-image: url("GÖRSELLER/venomarkaplan.jpg");
        width: 100%;
        height: 100%;
        border: 5px ;
        border-color: aqua;
    }
    .border-color{
        border-color: aqua;
    }
    h3{
        background-color: aqua;
    }
    .p-aqua{
        background-color: aqua;
    }
    .boşluk{
        margin-bottom: 100px ;
    }
    .matrix{
        background-image: url("GÖRSELLER/matrix\ .jpg");
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;

    }
    .godfather{
        background-image: url("GÖRSELLER/tgf.jpg");
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;

    }
    .dehşetinyüzü{
        background-image: url("GÖRSELLER/dehşetinyüzü.jpg");
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;
    }
    .buzdevri{
        background-image: url("GÖRSELLER/buzdevri.jpg");
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;

    }
    .arınmagecesi{
        background-image: url("GÖRSELLER/arınmagecesi.jpg");
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;
    }
    .dünyalarsavaşız{
        background-image: url("GÖRSELLER/dünyalarsavaşız.jpg");
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;

    }
    .kolanyacumhuriyeti{
        background-image: url("GÖRSELLER/kolanyacumhuriyeti.jpg");
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;
    }
    .therevenent{
        background-image: url("GÖRSELLER/therevenent-1.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;
    }
    .pi{
        background-image: url("GÖRSELLER/pi2.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border: 0px ;
        border-color: aqua;
    }
    